body{
    color: white;
}

.hero-image{
    width: 100%;
    height: auto;
    position: absolute;
    margin: 0 auto;
}

.overlay{
    width: 100%;
    height: auto;
    position: absolute;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.328);
}

.image-container{
    position: relative;

}   

.hero-container {
  position: relative;
  width: 100%;
  height: 100vh; 
  overflow: hidden;
}

.hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  display: block;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); 
  pointer-events: none; 
}

.heading{
  margin-top: 10%; ;
}
.heading h1 {
  position: relative;
  justify-self: center;
  margin-top: 15%;
  text-align: center;
  z-index: 3;
  font-family: "Gothic A1";
  font-size: 5em;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}


.heading span {
  color: #E97A02;
}

.heading p {
  position: relative;
  text-align: center;
  justify-self: center;
  align-self: center;
  width: 50% ;
  z-index: 3;
  font-family: "Gothic A1";
  font-size: 1.5em;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  overflow: wrap;

}