:root{
    --primary-orange: #FF5403;
    --secondary-orange: #FF7A00;
    --light-orange: #fff4e937;
    --white-color: #ffffff7a;
    --dark-blue: #0D1B2A;
    --light-blue: #1B263B;
    --black-color: #000000;
}



.navbar {
  --border-width: 1px;
  border-radius: 1rem;
  position: relative;
  display: flex;
  justify-content: space-evenly;
  color: white;
  width: 90%;
  height: 3em;
  background: hsl(from var(--white-color) h s l / 0.25);
  backdrop-filter: blur(12px);
}

.navbar::before {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  border-radius: inherit;
  border: var(--border-width) solid transparent;
  background: linear-gradient(var(--white-color), var(--light-orange)) border-box;
  mask: linear-gradient(black, black) border-box,
  linear-gradient(black, black) padding-box;
  mask-composite: subtract;
}
